a {
    font-size: 22px;
    color:#4d4d4e;
    display: block;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-color:#f0b03c;
    color:#4d4d4e;
    opacity: 1;
    transition: all 0.3s ease-out
}

a.logo {
    background-color: #181818;
}

.img {
    display: block;
    width: 170px;
    height: auto;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color:beige;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: -20px;
    background-color:black;
    width: 100%;
    height: 25px;

}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    
  }

.footer {
    background-color: black;
    bottom: 0;
    position: absolute;
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    
}

.header {
    background-color: #181818;
    top: 0;
    position: sticky;
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navbtn {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0b03c;
  font-size: 14px;
  font-family: "helvetica neue";
  text-decoration: none;
  border: 5px solid #f0b03c;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s all ease;
}

.navbtn.active {
    background-color:gold;
    color:black;
}
