html {
  font-family: Helvetica;
  font-size: 50%;
}

body {
  margin: 0;
  font-family: 200 11px/ 'Helvetica' 'sans-serif';
  color: #444;
  background: #022c43;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
